<div
  class="h-14 w-full px-8 flex justify-between items-center bg-white drop-shadow-lg"
>
  <div class="flex items-center">
    <span class="material-symbols-outlined"> travel_explore </span>
    <div class="ml-2 text-xl">Countries</div>
  </div>
  <div>
    <button
      type="button"
      class="h-10 flex items-center justify-center bg-black px-6 text-white rounded hover:scale-105 active:scale-95 duration-100"
    >
      <span class="material-symbols-outlined"> language </span>
    </button>
  </div>
</div>
