/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

// Tailwind example

@layer base {
  .btn {
    @apply flex items-center justify-center px-2 py-1 rounded font-medium border-b-4 border-r-4 border-l-2 border-t-2 hover:border-2 duration-100;
  }

  label {
    @apply border-none;
  }
}
